.hero {
  position: relative;
}
h1,article{
  position: absolute;
  color: red;
  top: 0px;
}
.hero img {
  display: block;
  width: 100%;
  height: auto;
}
article img{
  position: absolute;
  right:0px;
  width: 50%;

  
}
article p{
  position: relative;
  left:0px;
  color:blue;
  top: 50px;
}
article{
  background-color: skyblue;
  opacity: .5;
}

.a {
  text-decoration: none;
}