:root {
    --primary-color: #055a05; /* forest green */
    --secondary-color: #f4a261; /* warm sand */
    --accent1-color: #264653; /* dark slate blue */
    --accent2-color: #e9c46a; /* light golden yellow */
    --body-font: "Lato", sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}

.adventure img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--heading-font);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
    flex-direction: row;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
    
}

.socialmedia a {
    text-decoration: none;
    flex-direction: row;
}

.img_deg {
    right: 17em;
    position: absolute;
    width: 2%;
    top: -3em;
}

.abclasvegasraftingadventure {
    position: absolute;
}



.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    float: right;
}

h1 {
    position: absolute;
    top: 20px;
    width: 95%;
    padding: 16px;
    text-align: left;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff; 
}

.overlay text {
    display: flex;
    align-content: var(--heading-font);
}
.hero img {
    float: right;
    width: 125px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
}

h2 {
  position: relative;
  width: 50%; 
  padding: 16px; 
  opacity: 0.7;
  align-items: flex-start;
}

.history {
    background-color: #fff;
    text-align: center;
}

.history p {
    padding: 20px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin-bottom: 30px;
}

footer {
    position: absolute;
    float: right;
}



    